.App {
  padding: 2rem;
  margin: auto;
  max-width: 1200px;

  --color-primary: #ff6a61;
  --color-secondary: #ffa48b;
  --color-tertiary: #594e46;
  --color-sub: #9cbda5;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
padding: 1rem;
  margin: auto;
}

h1{
  margin-top: 0;
}
.reset_btn {
  all: unset;
  border: var(--color-primary) solid 3px;
  color: var(--color-primary);
  padding: 10px;
  text-align: center;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.reset_btn:hover {
  border: var(--color-primary) solid 3px;
  color: white;
  background: var(--color-primary);
}

.my_point {
  text-align: end;
  font-size: 2rem;
  margin-right: 2rem;
}

.point {
  color: var(--color-primary);
}
.shop-wrapper {
  margin-bottom: 2rem;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: auto;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .mainWrapper {
    flex-direction: row;
  }
}
/* Left hand page */
.page_left {
  flex: 1;
}
.shelf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  overflow-y: scroll;
}

.product_card {
  border: var(--color-tertiary) solid 5px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
  cursor: pointer;
  text-align: center;
}

.product_card {
  opacity: 1;
}

.product_card:hover {
  border-color: var(--color-primary);
}
h3 {
  margin-top: 5px;
  margin-bottom: 1 + px;
}

.card_title {
  margin-bottom: 5px;
}

/* Right hand page */
.page_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cart {
  /* flex: 1 1 0; */
  min-height: 250px;
  display: flex;
  align-items: top;
  margin: auto;
  gap: 10px;
  border-radius: 20px;
  border: var(--color-secondary) dashed 5px;
  flex-wrap: wrap;
  padding: 1em;
  position: relative;
  margin: 0 2em;
}
.clear_btn {
  all: unset;
  border: var(--color-tertiary) solid 3px;
  color: var(--color-tertiary);
  padding: 5px;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  height: 2em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.clear_btn:hover {
  border: var(--color-tertiary) solid 3px;
  color: white;
  background: var(--color-tertiary);
}
.thumbnail_wrapper {
  all: unset;
  max-width: 80px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  position: relative;
}

.thumbnail_wrapper:hover {
  opacity: 30%;
}

.thumbnail_price {
  margin: 0;
}

.removeBtn{
margin: 0;

  position: absolute;
  top: 0;
  right: 0;
}
.img_wrapper {
  max-height: 100px;
  max-width: 100%;
}
.product_img {
  max-width: 100%;
  max-height: 80px;
  object-fit: cover;
}

/* form */

.payment_form {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: baseline;
}

label {
  font-size: 1.5rem;
}

.user-message {
  font-size: 2rem;
  text-transform: uppercase;
  max-width: 400px;
  margin: 0 auto;
}

.user-sub-message{
  margin: 0 auto;
}

.amount_input {
  all: unset;
  display: block;
  height: 3rem;
  width: 300px;
  font-size: 1.5rem;
  border: var(--color-tertiary) solid 3px;
  border-radius: 10px;
  text-align: start;
  padding-left: 10px;
}

.pay_btn {
  all: unset;
  padding: 10px;
  margin: auto;
  width: 200px;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  background-color: var(--color-primary);
  border: solid 5px var(--color-primary);
  color: white;
  cursor: pointer;
}
.pay_btn:disabled {
  opacity: 30%;
  background: var(--color-tertiary);
  border-color: var(--color-tertiary);
}

.pay_btn:disabled:hover {
  opacity: 30%;
  background: var(--color-tertiary);
  border-color: var(--color-tertiary);
  color: white;
  cursor: default;
}
.pay_btn:hover {
  background-color: white;
  color: var(--color-primary);
  border: solid 5px var(--color-primary);
}

/* Define the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply shake animation to invalid input */
.invalid {
  animation: shake 0.3s ease-in-out;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.List {
  list-style: none;
  display: flex;
  align-items: center;
  width: 50rem;
  margin: 0rem auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.233);
  padding: 1rem;
  justify-content: space-between;
}

.List-header {
  display: flex;
  align-items: center;
}

.List-header h2 {
  color: rgb(37, 36, 36);
}

.List-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.List-note {
  width: 30%;
  text-align: left;
}

.AddToList {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 5rem auto;
}

.AddToList-input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.3rem 0rem;
}

.AddToList-btn {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #0b5468;
  font-weight: 700;
  color: white;
  border: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
